
::-webkit-scrollbar-track {
    background: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(131, 130, 130);
    border-radius: 5rem;
}

.container-onda-top{
  position: relative;
  width: 100vw;
  height: 8vw;
  overflow: hidden;
  
  overflow: hidden;
}
.onda-top {
  position: absolute;
  width: 100vw;
  height: 9vw;
  background-color: var(--cor-secundaria);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 39.82%, 2.86% 37.54%, 5.71% 35.41%, 8.57% 33.50%, 11.43% 31.86%, 14.29% 30.55%, 17.14% 29.61%, 20.00% 29.08%, 22.86% 28.96%, 25.71% 29.26%, 28.57% 29.98%, 31.43% 31.09%, 34.29% 32.55%, 37.14% 34.32%, 40.00% 36.34%, 42.86% 38.54%, 45.71% 40.86%, 48.57% 43.22%, 51.43% 45.54%, 54.29% 47.76%, 57.14% 49.79%, 60.00% 51.57%, 62.86% 53.05%, 65.71% 54.18%, 68.57% 54.92%, 71.43% 55.25%, 74.29% 55.15%, 77.14% 54.64%, 80.00% 53.72%, 82.86% 52.43%, 85.71% 50.81%, 88.57% 48.91%, 91.43% 46.79%, 94.29% 44.52%, 97.14% 42.17%, 100.00% 39.82%);
  z-index: 1;
}

.onda-bottom {
  position: absolute;
  transform: scale(-1,-1);
  width: 100vw;
  height: 9vw;
  background-color: var(--cor-secundaria);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 39.82%, 2.86% 37.54%, 5.71% 35.41%, 8.57% 33.50%, 11.43% 31.86%, 14.29% 30.55%, 17.14% 29.61%, 20.00% 29.08%, 22.86% 28.96%, 25.71% 29.26%, 28.57% 29.98%, 31.43% 31.09%, 34.29% 32.55%, 37.14% 34.32%, 40.00% 36.34%, 42.86% 38.54%, 45.71% 40.86%, 48.57% 43.22%, 51.43% 45.54%, 54.29% 47.76%, 57.14% 49.79%, 60.00% 51.57%, 62.86% 53.05%, 65.71% 54.18%, 68.57% 54.92%, 71.43% 55.25%, 74.29% 55.15%, 77.14% 54.64%, 80.00% 53.72%, 82.86% 52.43%, 85.71% 50.81%, 88.57% 48.91%, 91.43% 46.79%, 94.29% 44.52%, 97.14% 42.17%, 100.00% 39.82%);
  z-index: 1;
}
.container-onda-bottom{
  position: relative;
  width: 100vw;
  height: 9vw;
  overflow: hidden;
}


